.boxes {
    border: 2px solid black;
    border-radius: 12px;
    background-color: skyblue;
    width: 1200px;
    margin-left: 100px;

}

.mainheading {
    text-align: center;
}

.code {
    font-size: 1.2em;
    width: 90%;
}
.boxes:hover{
    box-shadow:0.5px 0.5px 30px black;
    transform: translateY(10px);
}
.boxes{
    transition: all 1s;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mainheading{
    background-color: black;
    color: white;
}